@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
.item{
    padding:1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* Style the tab */
.tab {
overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    font-weight: normal;
}

/* Create an active/current tablink class */
.tab button.active {
   border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #dcdcdc;
    font-weight: normal;
    text-decoration: underline;
    border-bottom:0;
    background-color: rgb(249, 249, 249);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

#recommended-word-length{
    display: none;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

textarea{
    width:100%;
    border:0;
}
